@inject NavigationManager navigation

<section id="sidebar" class="@menuClass">
  <ul class="nav-header is-iflex">
      <a class="" @onclick="Toggle">
          <span class="gi-menu material-symbols-outlined">
              menu
          </span>
      </a>
    <li class="cycle">
      <a class="is-flex">
        <span class="">Chọn chu kỳ</span>
        <span class="is-iflex">
          <i class="gi material-icons material-icons-outlined">
            arrow_drop_down
          </i>
        </span>
      </a>
      <ul class="subcycle font_13">
        <li>
          <a>
            Chưa có chu kỳ
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <nav class="nav-main">
      @foreach (var item in NavList)
      {
        <li class="@(item.active == true ? "is_active" : "")">
          @if(item.Childs.Any())
          {
            <a class="item-menu" @onclick="() => item.active = !item.active">
              <span class="gi material-symbols-outlined">
                @item.iconNav
              </span>
              <span class="content">@item.nameNav</span>
              <span class="gi-arrow">
                <i class="gi material-icons material-icons-outlined">
                  @item.iconArrow
                </i>
              </span>
            </a>
            <ul class="subSidebar">
              @foreach(var child in item.Childs) {
              <li class="@(child.active == true ? "is_active" : "")">
                @if (child.Childs.Any())
                {
                  <a class="button" @onclick="() => child.active = !child.active">
                    <span class="content">@child.nameNav</span>
                    <span class="gi-subarrow">
                      <i class="gi material-icons material-icons-outlined">
                        @child.iconArrow
                      </i>
                    </span>
                  </a>
                  <ul class="sub-okrs">
                    @foreach (var childsecond in child.Childs)
                    {
                    <li class="@(childsecond.active == true ? "is_active" : "")">
                      <a href="@childsecond.href" class="button">
                        <span class="content">@childsecond.nameNav</span>
                      </a>
                    </li>
                    }
                    <div class="sidebar-highlight"></div>
                  </ul>
                }else {
                  <a href="@child.href" class="button">
                  <span class="content">@child.nameNav</span>
                  <span class="gi-subarrow">
                    <i class="gi material-icons material-icons-outlined">
                      @child.iconArrow
                    </i>
                  </span>
                </a>
                }
              </li>
              }
            </ul>
          }
          else
          {
            <a href="@item.href" class="item-menu">
              <span class="gi material-symbols-outlined">
                @item.iconNav
              </span>
              <span class="content">@item.nameNav</span>
              <span class="gi-arrow">
                <i class="gi material-icons material-icons-outlined">
                  @item.iconArrow
                </i>
              </span>
            </a>
          }
        </li>
      }
  </nav>
  <a class="nav-logout item-menu" title="Đăng xuất">
    <span class="gi material-icons material-icons-outlined">
      logout
    </span>
    <span class="content-logout">Đăng xuất</span>
  </a>
</section>
@code {
  [CascadingParameter]
  public MainLayout Layout { get; set; }
  private bool isOpenMenu = false;
  private string menuClass => isOpenMenu ? "is_less" : "";

  private string menuMail = "0";
  public void Toggle()
  {
    isOpenMenu = !isOpenMenu;
  }
  private List<SidebarModels> NavList = new();

  protected override void OnInitialized() {
    CreateNav();
  }
  public void clearActiveNavlist() {
    foreach (var item in NavList)
    {
      item.active = false;
      if (item.Childs != null)
      {
        foreach (var child in item.Childs)
        {
         child.active = false;
         if (child.Childs != null)
         {
          foreach (var childSecond in child.Childs)
          {
            childSecond.active = false;
          }
         } 
        } 
      }
    }
  }

  protected override void OnParametersSet() {
    var url = navigation.Uri.Replace(navigation.BaseUri, "");
    foreach (var main in NavList)
    {
      main.active = url.StartsWith(main.href.Replace("#", ""));
      if (main.Childs != null)
      {
        foreach (var child in main.Childs)
        {
          child.active = url.StartsWith(child.href.Replace("#", ""));
          if (child.Childs != null)
          {
            foreach (var sub in child.Childs)
            {
              sub.active = url.StartsWith(sub.href.Replace("#", ""));
            }
          }    
        }        
      }
    }
  }
  private void CreateNav() {
    NavList = new() {
      new SidebarModels() {
        id = "0",
        href = "email",
        nameNav = "Hộp thư",
        iconNav = "email",
        iconArrow = "",
        Childs = new() {},
      },
      new SidebarModels() { 
        id = "1",
        href = "news",
        nameNav = "Tin tức",
        iconNav = "dashboard",
        iconArrow = "",
        Childs = new() {},
      },
      new SidebarModels() {
        id = "2",
        href = "reports",
        nameNav = "Thống kê",
        iconNav = "leaderboard",
        Childs = new() {},
      },
      new SidebarModels() {
        id = "3",
        href = "teams",
        nameNav = "Đội nhóm",
        iconNav = "group",
        iconArrow = "",
        Childs = new() {},
      },
        new SidebarModels() {
        id = "4",
        href = "todolist",
        nameNav = "Todolist",
        iconNav = "check_box",
        Childs = new() {},
      },
      new SidebarModels() {
        id = "5",
        href = "plans",
        nameNav = "Kế hoạch",
        iconNav = "view_timeline",
        iconArrow = "",
        Childs = new() {},
      },

        new SidebarModels() {
        id = "6",
        href = "#okrs",
        nameNav = "OKRs",
        iconNav = "track_changes",
        iconArrow = "arrow_right",
        Childs = new() {
          
          new SidebarModels() {
            id = "7",
            href = "#okrs/setup",
            nameNav = "Thiết lập",
            iconArrow = "arrow_right",
            Childs = new() {
              new SidebarModels() {
                id = "8",
                href = "okrs/setup/timeline",
                nameNav = "Timeline",
                Childs = new() {},
              },
               new SidebarModels() {
                id = "9",
                href = "okrs/setup/suggest",
                nameNav = "Góp ý mục tiêu",
                Childs = new() {},
              },
               new SidebarModels() {
                id = "10",
                href = "okrs/setup/target",
                nameNav = "Công bố mục tiêu",
                Childs = new() {},
              },
               new SidebarModels() {
                id = "11",
                href = "okrs/setup/details",
                nameNav = "Tạo OKRs",
                active = false,
                Childs = new() {},
              },
            },
          },

          new SidebarModels() {
            id = "12",
            href = "okrs/task",
            nameNav = "Hành động",
            Childs = new() {},
          },

          new SidebarModels() {
            id = "13",
            href = "okrs/overview",
            nameNav = "Tổng quan",
            Childs = new() {},
          },

        },
      },

        new SidebarModels() {
        id = "14",
        href = "#cfrs",
        nameNav = "CFRs",
        iconNav = "grade",
        iconArrow = "arrow_right",
        Childs = new() {

           new SidebarModels() {
            id = "15",
            href = "cfrs/checkin",
            nameNav = "Check in",
            Childs = new() {},
          },

          new SidebarModels() {
            id = "16",
            href = "cfrs/star",
            nameNav = "Ghi nhận - Tặng sao",
            Childs = new() {},
          },

        },
      },
        new SidebarModels() {
        id = "17",
        href = "kaizen",
        nameNav = "Kaizen",
        iconNav = "show_chart",
        active = false,
        iconArrow = "",
        Childs = new() {},
      },
        new SidebarModels() {
        id = "18",
        href = "#gift",
        nameNav = "Đổi quà",
        iconNav = "card_giftcard",
        active = false,
        iconArrow = "",
        Childs = new() {},
      },
      new SidebarModels() {
        id = "19",
        href = "#educate",
        nameNav = "Đào tạo",
        iconNav = "book",
        active = false,
        iconArrow = "arrow_right",
        Childs = new() {

           new SidebarModels() {
            id = "20",
            href = "educate/course/list",
            nameNav = "Khoá học",
            iconNav = "",
            active = false,
            iconArrow = "",
            Childs = new() {},
          },

          new SidebarModels() {
            id = "21",
            href = "educate/course/manager",
            nameNav = "Quản lý khoá học",
            iconNav = "",
            active = false,
            iconArrow = "",
            Childs = new() {},
          },

          new SidebarModels() {
            id = "22",
            href = "educate/exam/manager",
            nameNav = "Chấm bài thi",
            iconNav = "",
            active = false,
            iconArrow = "",
            Childs = new() {},
          },

          new SidebarModels() {
            id = "23",
            href = "educate/certificate/manager",
            nameNav = "Cấp chứng chỉ",
            iconNav = "",
            active = false,
            iconArrow = "",
            Childs = new() {},
          },

           new SidebarModels() {
            id = "24",
            href = "educate/certificate/manager",
            nameNav = "Chứng chỉ đạt được",
            iconNav = "",
            active = false,
            iconArrow = "",
            Childs = new() {},
          },

        },
      },
      new SidebarModels() {
        id = "25",
        href = "#settings",
        nameNav = "Cấu hình",
        iconNav = "settings",
        active = false,
        iconArrow = "arrow_right",
        Childs = new() {

           new SidebarModels() {
            id = "26",
            href = "setting/system",
            nameNav = "Cơ cấu",
            iconNav = "",
            active = false,
            iconArrow = "",
            Childs = new() {},
          },

          new SidebarModels() {
            id = "27",
            href = "setting/okrs",
            nameNav = "OKRs - CFRs",
            iconNav = "",
            active = false,
            iconArrow = "",
            Childs = new() {},
          },
           new SidebarModels() {
            id = "28",
            href = "setting/todolist",
            nameNav = "Todolist",
            iconNav = "",
            active = false,
            iconArrow = "",
            Childs = new() {},
          },

          new SidebarModels() {
            id = "29",
            href = "setting/kaizen",
            nameNav = "Kaizen",
            iconNav = "",
            active = false,
            iconArrow = "",
            Childs = new() {},
          },
           new SidebarModels() {
            id = "30",
            href = "setting/gift",
            nameNav = "Đổi quà",
            iconNav = "",
            active = false,
            iconArrow = "",
            Childs = new() {},
          },

          new SidebarModels() {
            id = "31",
            href = "setting/educate",
            nameNav = "Đào tạo",
            iconNav = "",
            active = false,
            iconArrow = "",
            Childs = new() {},
          },

           new SidebarModels() {
            id = "32",
            href = "setting/other",
            nameNav = "Tiện ích",
            iconNav = "",
            active = false,
            iconArrow = "",
            Childs = new() {},
          },

        },
      },
      new SidebarModels() {
        id = "33",
        href = "/user/info",
        nameNav = "Tài khoản",
        iconNav = "account_circle",
        active = false,
        iconArrow = "",
        Childs = new () {},
      },
    };
  }
}