@inject IJSRuntime JSRuntime;
@inherits LayoutComponentBase;
@page "/email/create"

<section class="main">
  <div class="columm head-form">
    <ul class="column is-flex">
      <li class="column p-8 is-flex">
        <a href="/email/receivedMail" class="icon-text button has-text-link weight500">
          <span class="icon">
            <i class="material-icons material-icons-outlined is-size-6">arrow_back</i>
          </span>
          <span class="">Trở về</span>
        </a>
      </li>
      <li class="column p-8">
        <span>Danh mục: </span>
      </li>
      <li class="column p-8 @openSort">
        <div class="control">
          <div class="dropdown is-right">
            <div class="dropdown-trigger is-border">
              <a class="has-text-link is-flex p-3 font_13" @onclick="choseTypeSort">
                <span class="">@selectSortFormMail</span>
                <span class="icon ml-2 has-text-link">
                  <i class="is-size-18 material-icons material-icons-outlined">arrow_drop_down</i>
                </span>
              </a>
            </div>
            <div class="dropdown-menu is-right-dropdown" style="width: 100px;">
              <div class="dropdown-content">
                <a class="dropdown-item font_13" @onclick='() => OnSelectTypeSortValueChanged("Vận hành")'>Vận hành</a>
                <a class="dropdown-item font_13" @onclick='() => OnSelectTypeSortValueChanged("Kế toán")'>Kế toán</a>
                <a class="dropdown-item font_13" @onclick='() => OnSelectTypeSortValueChanged("Nhân sự")'>Nhân sự</a>
                <a class="dropdown-item font_13" @onclick='() => OnSelectTypeSortValueChanged("Marketing")'>Marketing</a>
                <a class="dropdown-item font_13" @onclick='() => OnSelectTypeSortValueChanged("Sản xuất")'>Sản xuất</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="column p-8 is-flex @fillWarningText">
        <a class="is-flex" @onclick="openfillWarning">
          <span class="mr-2 is-flex">
            @if (fillWarning == false)
            {
              <i class="has-text-warning is-size-6 material-icons material-icons-outlined">
                star_border
              </i>
            } else {
              <i class="has-text-warning is-size-6 material-icons material-icons-outlined">
                star
              </i>
            }
          </span>
          <span>Đánh dấu quan trọng</span>
        </a>
      </li>
      <li class="column p-8 @openStickMenu is-flex">
        <a class="is-flex mr-2">
          <span class="mr-2 is-flex has-text-danger" @onclick="ToggleStickMenu">
            <i class="is-size-5 material-symbols-outlined">
            label
            </i>
          </span>
          <div class="dropdown is-right">
            <div class="dropdown-trigger" @onclick="ToggleStickMenu">
              <span class="">Nhãn</span>
            </div>
            <div class="dropdown-menu is-right-dropdown" style="width: 250px;">
              <div class="dropdown-content">
                <a class="dropdown-item has-text-weight-bold">Danh sách nhãn</a>
                @foreach (var sticky in StyleStickyList)
                {
                  <a class="dropdown-item">
                    <ul class="column is-flex">
                      <li class="column">
                        <input class="input" type="checkbox" @onclick="ToggleSticky">   
                      </li>
                      <li class="column">
                        <span class="icon @sticky.Class_color pt-2">
                          <i class="is-size-6 material-icons material-icons">
                          label
                          </i>
                        </span>
                      </li>
                      <li class="column font_13 weight500">@sticky.nameSticky</li>
                    </ul>
                  </a>      
                }
              </div>
            </div>
          </div>
        </a>
        <ul class="column gap_5 is-flex">
          <li class="column @activeSticky p-3 is-border" style="background-color: red;">
            <span>Nhân sự Conando</span>
            <a class="is-flex" onclick="@ToggleSticky">
              <span class="icon has-text-grey">
                <span class="is-size-5 material-icons material-icons">
                cancel
                </span>
              </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    @if (FormCC_BCC == false)
    {
      <div class="columm mt-10">
        <div class="columm">
          <ul id="mail-to" class="column is-flex">
            <li class="column p-8" style="width: 10%;">To</li>
            <li id="to" class="column p-8">
              <ul class="column is-flex">
                <li class="column"></li>
                <li class="column font_13 is-flex">
                  <div class="control">
                    <AddUserComponent />
                  </div>
                  <div class="control">
                    <AddGroupUserComponent />
                  </div>
                </li>
              </ul>
            </li>
            <li class="column" style="width: 20%;">
              <div class="control float-right is-flex">
                <a class="button has-text-link float-right" @onclick='() => FormCC_BCC = !FormCC_BCC'>
                  <span>CC</span>
                </a>
                <a class="button has-text-link float-right" @onclick='() => FormCC_BCC =!FormCC_BCC'>
                  <span>BCC</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="columm mt-10 mb-3">
        <div class="columm">
          <ul id="mail-to" class="column is-flex">
            <li class="column p-9" style="width: 8.5%;">Tiêu đề</li>
            <li id="title_mail" class="column">
              <input class="columm input p-9 is-radius-4" type="text" placeholder="Tiêu đề thư">
            </li>
          </ul>
        </div>
      </div>
      <hr class="dropdown-divider">
      <div class="columm mt-10 content-form">
        <textarea class="textarea" placeholder="Nhập nội dung thư" style="height: 300px;"></textarea>
      </div>
      <div class="columm mt-10 has-text-danger" style="opacity: 0.5;">*Validation</div>

      <SurveyComponent />
      
      <hr class="dropdown-divider">
    } 
    else 
    {
      <div class="columm mt-10">
        <div class="columm">
          <ul id="mail-to" class="column is-flex">
            <li class="column p-8" style="width: 10%;">To</li>
            <li id="to" class="column p-8">
              <ul class="column is-flex">
                <li class="column"></li>
                <li class="column font_13 is-flex">
                  <div class="control">
                    <AddUserComponent />
                  </div>
                  <div class="control">
                    <AddGroupUserComponent />
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="columm mt-10">
        <div class="columm">
          <ul id="mail-to" class="column is-flex">
            <li class="column p-8" style="width: 10%;">CC</li>
            <li id="CC" class="column p-8">
              <ul class="column is-flex">
                <li class="column"></li>
                <li class="column font_13 is-flex">
                  <div class="control">
                    <AddUserComponent />
                  </div>
                  <div class="control">
                    <AddGroupUserComponent />
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="columm mt-10">
        <div class="columm">
          <ul id="mail-to" class="column is-flex">
            <li class="column p-8" style="width: 10%;">BCC</li>
            <li id="BCC" class="column p-8">
              <ul class="column is-flex">
                <li class="column"></li>
                <li class="column font_13 is-flex">
                  <div class="control">
                    <AddUserComponent />
                  </div>
                  <div class="control">
                    <AddGroupUserComponent />
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="columm mt-10 mb-3">
        <div class="columm">
          <ul id="mail-to" class="column is-flex">
            <li class="column p-9" style="width: 10%;">Tiêu đề</li>
            <li id="title_mail" class="column">
              <input class="columm input p-9 is-radius-4" type="text" placeholder="Tiêu đề thư">
            </li>
          </ul>
        </div>
      </div>
      <hr class="dropdown-divider">

       <div class="columm mt-10 content-form">
        <textarea class="textarea" placeholder="Nhập nội dung thư" style="height: 300px;"></textarea>
      </div>
      <div class="columm mt-10 has-text-danger" style="opacity: 0.5;">*Validation</div>
      <SurveyComponent />
      
      <hr class="dropdown-divider">

    }
    <div class="columm mt-10 mb-3 footer-form">

      <div class="columm p-6">
        <ul class="gap_10 column is-flex is-vcentered">
          <li class="column">
            <span class="has-text-grey">Chữ ký:</span>
          </li>
          <li class="column font_13">
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <a class="button is-border is-radius-4 px-2 is-iflex p-6">
                  <span>@selectSignatureMail</span>
                  <span class="icon is-small">
                    <i class="material-icons is-size-5 material-icons-outlined">
                      arrow_drop_down
                    </i>
                  </span>
                </a>
              </div>
              <div class="dropdown-menu font_13" style="width: fit-content">
                <div class="dropdown-content">
                  <a class="dropdown-item" @onclick='() => OnSelectSignatureValueChanged("Không có chữ ký")'>Không có chữ ký</a>
                  <a class="dropdown-item" @onclick='() => OnSelectSignatureValueChanged("Chữ ký 1")'>Chữ ký 1</a>
                  <a class="dropdown-item" @onclick='() => OnSelectSignatureValueChanged("Chữ ký 2")'>Chữ ký 2</a>
              </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      @if (selectSignatureMail == "Chữ ký 1")
      {
        <div class="columm py-8">
          <ul class="column signature">
            <li class="columm">-------------------------------------</li>
            <li class="columm">DOCROP JSC</li>
            <li class="columm">CÔNG TY CỔ PHẦN DOCORP</li>
            <li class="columm">Address: Số 23 Trường Thi 1, Phường Hoà Thuận Tây, QUận Hải Châu, Thành phố Đà Nẵng</li>
            <li class="columm">Phone: 0905.043.312 (Ms Thuý Phượng)</li>
          </ul>
        </div>
      }
    </div>
  </div>
  <div class="foot-form">
    <div class="column is-flex p-8">
        <div class="control">
          <a class="button-is-link p-8 is-flex">
            <span>Gửi</span>
          </a>
        </div>
      <div class="control is-flex float-right">
        <a class="button p-8 is-link is-flex is-radius-4">
          <span class="icon">
            <i class="is-size-6 material-icons material-icons-outlined">
            drafts
            </i>
          </span>
          <span>Lưu nháp</span>
        </a>
        <a href="/email/receivedMail" class="button p-8 is-danger is-flex is-radius-4">
          <span class="icon">
            <i class="is-size-6 material-icons material-icons-outlined">
            clear
            </i>
          </span>
          <span>Huỷ tạo</span>
        </a>
      </div>
    </div>
  </div>
</section>

@code {
  private bool FormCC_BCC {get; set;} = false;
  private string selectSortFormMail {get; set;} = "Vận hành";
  private string selectSignatureMail {get; set;} = "Không có chữ ký";
  private bool openChoseTypeSort = false;
  private bool fillWarning = false; 
  private bool isStickMenu = false;
  private bool isSticky = false;

  private string openStickMenu => isStickMenu ? "is_active" : "";
  private string fillWarningText => fillWarning ? "is_active" : "";
  private string openSort => openChoseTypeSort ? "is_active" : "";
  private string activeSticky => isSticky ? "is-flex" : "";
  private List<TypeColorStickyMailModels> StyleStickyList = new();
  private List<TypeColorStickyMailModels> ToFormList = new();

  public void choseTypeSort() 
  {
    openChoseTypeSort = !openChoseTypeSort;
  }
  public void openfillWarning() 
  {
    fillWarning = !fillWarning;
  }
  public void OnSelectTypeSortValueChanged(string value) 
  {
    selectSortFormMail = value;
  }
  public void OnSelectSignatureValueChanged(string value) 
  {
    selectSignatureMail = value;
  }
  public void ToggleStickMenu()
  {
    isStickMenu = !isStickMenu;
  }
  public void ToggleSticky()
  {
    isSticky = !isSticky;
  }
  protected override void OnInitialized() 
  {
    ListStyleSticky();
    ListToFormMail();
  }
  public void ListToFormMail() {
    ToFormList = new() {
      new  TypeColorStickyMailModels() {
        nameSticky = "To"
      },
      new  TypeColorStickyMailModels() {
        nameSticky = "CC"
      },
      new  TypeColorStickyMailModels() {
        nameSticky = "BCC"
      },
    };
  }
  public void ListStyleSticky()
  {
    StyleStickyList = new() {
      new TypeColorStickyMailModels() {
        id = "0",
        Class_color = "has-text-link",
        nameSticky = "Nhân sự Conando",
      },
      new TypeColorStickyMailModels() {
        id = "1",
        Class_color = "has-text-warning",
        nameSticky = "Nhân sự Brando",
      },
      new TypeColorStickyMailModels() {
        id = "2",
        Class_color = "has-text-danger",
        nameSticky = "Nhân sự Fastdo",
      },
      new TypeColorStickyMailModels() {
        id = "3",
        Class_color = "has-text-grey",
        nameSticky = "Nhân sự Seodo",
      },
      new TypeColorStickyMailModels() {
        id = "4",
        Class_color = "has-text-dark",
        nameSticky = "Nhân sự DoCorp",
      },
    };
  }

}