@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime;
@page "/email/sendMail"

<section class="main ">
  <div class="columm is-sticky-68 sendmail">
    <ul class="column is-flex">
      <li class="column ellipsis">
        <span class="has-text-titleMail">Thư đã gửi</span>
      </li>
      <li class="column is-one-quarter">
        <div class="control has-icon-left has-icon-right has-suggest">
          <input type="text" class="input is-rounded is_bg" placeholder="Tiêu đề, nội dung, người gửi...">
          <span class="icon is-left">
            <i class="is-14 material-icons material-icons-outlined">
              search
            </i>
          </span>
        </div>
      </li>
       <li class="column is-narrow">
        <div class="field has-addons">
          <div class="control has-icons-left">
            <div id="" title="Chọn ngày">
              <span class="icon is-left has-text-link">
                <i class="material-icons is-size-5 material-icons-outlined">
                  event
                </i>
              </span>
              <div class="input is-link is-family-code">
                <span>24/02/2023 - 24/02/2023</span>
              </div>
            </div>
          </div>
          <div class="control is-boder boder-radius-right">
            <div class="dropdown is-hoverable is-right">
              <div class="dropdown-trigger">
                <a class="icon-text p-7">
                  <span class="has-text-weight-medium">@selectTimevalue</span>
                  <span class="icon">
                    <i class="material-icons material-icons-outlined is-size-5">arrow_drop_down</i>
                  </span>
                </a>
              </div>
              <div class="dropdown-menu is-right-dropdown" style="width: 170px;">
                <div class="dropdown-content">
                  <a class="dropdown-item" @onclick='() => OnSelectValueChanged("Tất cả")'>Tất cả</a>
                  <a class="dropdown-item" @onclick='() => OnSelectValueChanged("Hơn 1 tuần trước")'>Hơn 1 tuần trước</a>
                  <a class="dropdown-item" @onclick='() => OnSelectValueChanged("Hơn 1 tháng trước")'>Hơn 1 tháng trước</a>
                  <a class="dropdown-item" @onclick='() => OnSelectValueChanged("Hơn 6 tháng trước")'>Hơn 6 tháng trước</a>
                  <a class="dropdown-item" @onclick='() => OnSelectValueChanged("Hơn 1 năm trước")'>Hơn 1 năm trước</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="column is-narrow has-text-right">
        <div class="dropdown is-right @openStickMenu">
          <div class="dropdown-trigger">
            <a class="icon-text" @onclick="ToggleStickMenu">
              <span class="has-text-weight-medium">Nhãn</span>
              <span class="icon">
                <i class="material-icons material-icons-outlined is-size-5">arrow_drop_down</i>
              </span>
            </a>
          </div>
          <div class="dropdown-menu is-right-dropdown" style="width: 250px;">
            <div class="dropdown-content">
              <a class="dropdown-item has-text-weight-bold">Nhãn cần lọc</a>
              <a class="dropdown-item">
                <ul class="column is-flex">
                  <li class="column">
                    <input class="input" type="checkbox">   
                  </li>
                  <li class="column">
                    <span class="icon has-text-danger pt-2">
                      <i class="is-size-6 material-icons material-icons">
                      label
                      </i>
                    </span>
                  </li>
                  <li class="column font_13 weight500">Nhân sự Brando</li>
                </ul>
              </a>
              <a class="dropdown-item">
                <ul class="column is-flex">
                  <li class="column">
                    <input class="input" type="checkbox">   
                  </li>
                  <li class="column">
                    <span class="icon has-text-link pt-2">
                      <i class="is-size-6 material-icons material-icons">
                      label
                      </i>
                    </span>
                  </li>
                  <li class="column font_13 weight500">Nhân sự Conando</li>
                </ul>
              </a>
              <a class="dropdown-item">
                <ul class="column is-flex">
                  <li class="column">
                    <input class="input" type="checkbox">   
                  </li>
                  <li class="column">
                    <span class="icon has-text-success pt-2">
                      <i class="is-size-6 material-icons material-icons">
                      label
                      </i>
                    </span>
                  </li>
                  <li class="column font_13 weight500">Nhân sự Docorp</li>
                </ul>
              </a>
              <a class="dropdown-item">
                <ul class="column is-flex">
                  <li class="column">
                    <input class="input" type="checkbox">   
                  </li>
                  <li class="column">
                    <span class="icon has-text-success pt-2">
                      <i class="is-size-6 material-icons material-icons">
                      label
                      </i>
                    </span>
                  </li>
                  <li class="column font_13 weight500">Nhân sự Fastdo</li>
                </ul>
              </a>
              <a class="dropdown-item">
                <ul class="column is-flex">
                  <li class="column">
                    <input class="input" type="checkbox">   
                  </li>
                  <li class="column">
                    <span class="icon has-text-grey pt-2">
                      <i class="is-size-6 material-icons material-icons">
                      label
                      </i>
                    </span>
                  </li>
                  <li class="column font_13 weight500">Nhân sự Docorp</li>
                </ul>
              </a>
              <div class="control is-flex pt-5">
                <a class="button is-link is-flex is-radius-4"> 
                  <span class="icon has-text-white">
                    <i class="material-icons material-icons-outlined is-size-6">
                    filter_alt
                    </i>
                  </span>
                  <span class="pr-5">Lọc</span>
                </a>
                <a class="button has-text-link is-flex is-radius-4" @onclick="ToggleStickMenu">
                  <span class="icon has-text-danger">
                    <span class="material-icons material-icons-outlined is-size-5">
                    cancel
                    </span>
                  </span>
                  <span>Huỷ</span>
                </a>    
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    
    <TabSortMail />
  </div>
    @* start list mail item *@
  <div class="columm mt-10 scroll">
    @foreach (var mail in mailList)
    {
      <div class='columm p-6 item-mail @(mail.isChecked ? "is-check" : "is-none")'>
        <ul class="column is-flex gap_20 is-acentered py-8">
          <li class="column">
            <a class="button" @onclick="() => CheckTicked(mail.ID)">
              <span class="icon has-text-grey">
                @if(!selectedMail.Contains(mail.ID))
                {                
                  <i class="is-size-6 material-icons material-icons-outlined">
                  check_box_outline_blank
                  </i>
                }
                else
                {
                  <i class="is-size-6 material-icons material-icons-outlined">
                  check_box
                  </i>
                }
              </span>
            </a>
          </li>
          <li class="column">
            <a class="button" @onclick="() => mail.isCheckStar = !mail.isCheckStar">
              <span class="icon has-text-warning">
                @if (mail.isCheckStar == false)
                {
                  <i class="is-size-6 material-icons material-icons-outlined">
                    star_border
                  </i>
                } else {
                  <i class="is-size-6 material-icons material-icons-outlined">
                    star
                  </i>
                }
              </span>
            </a>
          </li>
          <li class="column" style="width: 100px;">
            <span class="ellipsis has-text-grey">
              @mail.userSent
            </span>
          </li>
          <li class="column">
            <div class="column is-flex gap_5 is-acentered">
              <a href="/email/details" class="is-flex is-acentered has-text-grey gap_5">
                <a class="">
                  <span class="label_survey">
                    <span class="is-size-7 has-text-dark">KS</span>
                  </span>
                </a>
                @if (mail.titleMail.Length > 0 && mail.contentMail.Length > 0)
                {
                  <a class="ellipsis">@mail.titleMail - @mail.contentMail</a>
                }
                else if (string.IsNullOrEmpty(mail.titleMail) && mail.contentMail.Length > 0)
                {
                  <a class="ellipsis is-flex">
                    <span class="weight600">@notitleMail</span>
                    <span class="px-2">-</span>
                    <span>@mail.contentMail</span>
                  </a>
                }
                else if (string.IsNullOrEmpty(mail.titleMail) && string.IsNullOrEmpty(mail.contentMail))
                {
                  <a class="ellipsis weight500">@notitleMail</a>
                }
              </a>
            </div>
          </li>
          <li class="column labelStick">
            <ul class="is-flex gap_5 column">
              <li class="column">
                <a class="label-sticky is-acentered bg-link p-3 ellipsis" style="width: 100px;">
                  <span class="has-text-link font_13 ellipsis">Nhân sự Conando</span>
                </a>
              </li>
              <li class="column">
                <a class="label-sticky p-3 bg-danger ellipsis" style="width: 100px;">
                  <span class="has-text-danger font_13">Nhân sự DoCorp</span>
                </a>
              </li>
              <li class="column">
                <a class="label-sticky p-3 bg-grey ellipsis">
                  <span class="has-text-grey font_13">+ 3</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="column">
            <span class="has-text-weight-semibold p-3">@mail.time</span>
          </li>
        </ul>
        @if (FilesList.Count > 0)
        {
          <ul class="column is-flex mt-10">
            <li class="column p-8" style="width: 200px;"></li>
            @foreach (var file in FilesList)
            {
              <li class="column">
                <a class="button is-border has-text-link p-3 mr-3">
                  <span class="icon">
                    <img src="@file.icon" class="is-16x16" alt="IMG">
                  </span>
                  <span>@file.name</span>
                  <span>.@file.typefile</span>
                </a>
              </li>
            }
          </ul>  
        }
        <div class="buttonControl">
          <div class="is-flex is-acentered">
            <a class="button p-8 has-text-grey" @onclick="() => mail.isChecked = !mail.isChecked">
              <span class="icon">
                @if (mail.isChecked == false)
                {
                  <span class="is-size-6 material-icons material-icons-outlined">
                  mail_outline
                  </span>
                } 
                else 
                {
                  <i class="is-size-6 material-icons material-icons-outlined">
                  drafts
                  </i>
                }
              </span>
            </a>
            <a class="button p-8 has-text-danger" @onclick="() => OnDeleteClick(mailList, mail.ID, mail.userSent)">
              <span class="is-size-6 material-icons material-icons-outlined">
              delete_outline
              </span>
            </a>
          </div>
        </div>
      </div>
    }

  </div>
  @* end list mail item *@
</section>

@if (selectedMail.Count > 0)
{
  <footer>
    <div class="footer-mail p-8">
      <ul class="col-haft is-flex gap_5 is-acentered">
        <li class="p-3"></li>
        <li class="column p-3 is-flex is-acentered">
          <span class="icon has-text-grey">
            <i class="is-size-6 material-icons material-icons-outlined">
              check_box
            </i>
          </span>
        </li>
        <li class="column p-3">
          <span class="has-text-grey font_13 is-family-font weight400">@selectedMail.Count thư được chọn</span>
        </li>
      </ul>
      <div class="control is-flex is-acentered">
        <div class='dropdown @(openMenu == true ? "is_active" : "") is-right'>
          <div class="dropdown-trigger">
            <a class="button has-text-grey p-3 is-flex is-radius-4" @onclick="() => openMenu = !openMenu">
                <span class="icon">
                  <span class="is-size-6 material-icons material-icons-outlined">
                  more_vert
                  </span>
                </span>
                <span>Hành động khác</span>
            </a>
          </div>
          <div class="dropdown-menu is-top-dropdown is-right-dropdown" style="width: 230px;">
            <div class="dropdown-content weight400">
              <a class="dropdown-item font_13 is-flex is-acentered gap_10">
                <span class="icon">
                  <i class="is-size-6 material-icons material-icons-outlined">
                  drafts
                  </i>
                </span>
                <span>Đánh dấu đã đọc</span>
              </a>
              <a class="dropdown-item font_13 is-flex is-acentered gap_10">
                <span class="icon">
                  <i class="is-size-6 material-icons material-icons-outlined">
                  mail_outline
                  </i>
                </span>
                <span>Đánh dấu chưa đọc</span>
              </a>
              <a class="dropdown-item font_13 is-flex is-acentered gap_10">
                <span class="icon">
                  <i class="is-size-6 material-icons material-icons-outlined">
                  star
                  </i>
                </span>
                <span>Đánh dấu quan trọng</span>
              </a>
              <a class="dropdown-item font_13 is-flex is-acentered gap_10">
                <span class="icon">
                  <i class="is-size-6 material-icons material-icons-outlined">
                  star_border
                  </i>
                </span>
                <span>Đánh dấu không quan trọng</span>
              </a>
              <a class="dropdown-item font_13 is-flex is-acentered gap_10">
                <span class="icon">
                  <i class="is-size-6 material-icons material-icons-outlined">
                  label_outline
                  </i>
                </span>
                <span>Gắn nhãn</span>
              </a>
            </div>
          </div>
        </div>
        <a class="button is-danger p-3 is-flex is-radius-4">
          <span class="icon">
            <span class="is-size-6 material-icons material-icons-outlined">
            delete_outline
            </span>
          </span>
          <span>Chuyển vào thùng rác</span>
        </a>
      </div>
    </div>
  </footer>
}
else
{
  <FooterMail />
}

@code {
  private string selectTimevalue { get; set; } = "Thời gian";

  private string selectStatusvalue { get; set; } = "Trạng thái";

  private string selectSortMail {get; set;} = "Khác (+3)";

  private string notitleMail { get; set; } = "(Không có chủ đề)";

  private bool isStickMenu = false;

  private bool openMenu = false;

  private string openStickMenu => isStickMenu ? "is_active" : "";

  public List<MailItemModels> mailList = new();

  public List<DetailsMail> FilesList = new();

  private List<string> selectedMail = new();

  public void ToggleStickMenu()
  {
    isStickMenu = !isStickMenu;
  }

  private void OnSelectValueChanged(string value)
  {
    selectTimevalue = value;
  }

  private void OnSelectStatusValueChanged(string value)
  {
    selectStatusvalue = value;
  }

  private void OnSelectTypeSortValueChanged(string value)
  {
    selectSortMail = value;
  }

  private async Task OnDeleteClick(List<MailItemModels> list, string id, string usersent)
  {
      bool confirmDelete = await JSRuntime.InvokeAsync<bool>("confirm", "Bạn có chắc chắn muốn xoá thư của " + usersent + " ?");
      if (confirmDelete)
      {
          // Xoá dữ liệu ở đây
          list.RemoveAll(x => x.ID == id);
      }
  }

  protected override void OnInitialized()
  {
    listMail();
    listFile();
  }

  private void CheckTicked(string id) 
  {
    if(selectedMail.Contains(id)){
      selectedMail.Remove(id);
    }
    else
    {
      selectedMail.Add(id);
    }
  }

  public void listMail() 
  {
    mailList = new() {
      new MailItemModels() {
        ID = DateTime.Now.Ticks.ToString(),
        userSent = "Nguyen dan truong",
        isSurvey = true,
        isChecked = false,
        isCheckStar = false,
        titleMail = "Welcome to HRM V1",
        contentMail = "Follow the instructions to embed the icon font in your site and learn how to style your icons using CSS.",
        time = "18:30"
      },
      new MailItemModels() {
        ID = DateTime.Now.Ticks.ToString(),
        userSent = "Công Ty TNHH Conando",
        isSurvey = true,
        isChecked = false,
        isCheckStar = false,
        titleMail = "Welcome to Conando",
        contentMail = "Follow the instructions to embed the icon font in your site and learn how to style your icons using CSS.",
        time = "11:30"
      },
      new MailItemModels() {
        ID = DateTime.Now.Ticks.ToString(),
        userSent = "Team QC",
        isSurvey = true,
        isChecked = true,
        isCheckStar = true,
        titleMail = "",
        contentMail = "",
        time = "18:00"
      },
      new MailItemModels() {
        ID = DateTime.Now.Ticks.ToString(),
        userSent = "Ẩn danh",
        isSurvey = true,
        isChecked = false,
        isCheckStar = false,
        titleMail = "",
        contentMail = "Follow the instructions to embed the icon font in your site and learn how to style your icons using CSS.",
        time = "11:40"
      },
      new MailItemModels() {
        ID = DateTime.Now.Ticks.ToString(),
        userSent = "Nguyen",
        isSurvey = true,
        isChecked = true,
        isCheckStar = false,
        titleMail = "Ứng tuyển vị trí Developer",
        contentMail = "Follow the instructions to embed the icon font in your site and learn how to style your icons using CSS.",
        time = "17:10"
      },
      new MailItemModels() {
        ID = DateTime.Now.Ticks.ToString(),
        userSent = "Phòng nhân sự",
        isSurvey = true,
        isChecked = true,
        isCheckStar = false,
        titleMail = "Welcome to HRM V1",
        contentMail = "Follow the instructions to embed the icon font in your site and learn how to style your icons using CSS.",
        time = "18:30"
      },
      new MailItemModels() {
        ID = DateTime.Now.Ticks.ToString(),
        userSent = "Nguyen dan truong",
        isSurvey = true,
        isChecked = false,
        isCheckStar = false,
        titleMail = "Welcome to HRM V1",
        contentMail = "Follow the instructions to embed the icon font in your site and learn how to style your icons using CSS.",
        time = "18:30"
      },
      new MailItemModels() {
        ID = DateTime.Now.Ticks.ToString(),
        userSent = "Nguyen dan truong",
        isSurvey = true,
        isChecked = false,
        isCheckStar = false,
        titleMail = "Welcome to HRM V1",
        contentMail = "Follow the instructions to embed the icon font in your site and learn how to style your icons using CSS.",
        time = "18:30"
      },
      new MailItemModels() {
        ID = DateTime.Now.Ticks.ToString(),
        userSent = "Nguyen dan truong",
        isSurvey = true,
        isChecked = false,
        isCheckStar = false,
        titleMail = "Welcome to HRM V1",
        contentMail = "Follow the instructions to embed the icon font in your site and learn how to style your icons using CSS.",
        time = "18:30"
      },
      new MailItemModels() {
        ID = DateTime.Now.Ticks.ToString(),
        userSent = "Nguyen dan truong",
        isSurvey = true,
        isChecked = false,
        isCheckStar = false,
        titleMail = "Welcome to HRM V1",
        contentMail = "Follow the instructions to embed the icon font in your site and learn how to style your icons using CSS.",
        time = "18:30"
      },
    };
  }
  public void listFile()
  {
    FilesList = new() {
      new DetailsMail() {
        name = "Details",
        icon = "/img/excel.svg",
        typefile = "xlsx",
      },
      new DetailsMail() {
        name = "Biểu mẫu",
        icon = "/img/word.svg",
        typefile = "word",
      },
      new DetailsMail() {
        name = "Kế hoạch",
        icon = "/img/pdf.svg",
        typefile = "pdf",
      },
    };
  }
}